@use '../abstracts' as *;

:root {
  // colors
  --pri-bg-color: #{$white};
  --sec-color: #{$light-blue};
  --sec-light-color: #{$lighter-blue};
  --btn-color: #{$orange};
  --btn-light-color: #{$light-orange};
  --page-bullet-color: #{lighten($orange, 1%)};
  --pri-color: #{$blue};
  --pri-theme-color: #{$dark-blue};
  --pri-theme-bg: #{$white};
  --pri-nav-bg: #{$white};
  --sec-theme-bg: #{$light-gray};
  --modal-bg: #{$very-light-blue};
  --pri-card-color: #{$white};
  --sec-card-color: #{$very-light-orange};
  --pri-transparent-color: #{$blue-transparent};
  // --sec-text-color: red;
  // fonts
  --pri-font-weight: 500;
  --letter-spacing: inherit;
}

.dark {
  // colors
  --pri-color: #{$very-dark-blue};
  --pri-theme-color: #{$grey};
  --pri-theme-bg: #{$very-dark-blue};
  --pri-nav-bg: #{lighten($very-dark-blue, 5%)};
  --btn-color: #{$salmon};
  --pri-card-color: #{lighten($very-dark-blue, 10%)};
  --sec-theme-bg: #{lighten($very-dark-blue, 2%)};
  --modal-bg: #{lighten($very-dark-blue, 3%)};
  --sec-card-color: #{lighten($very-dark-blue, 10%)};
  --pri-transparent-color: #{lighten($very-dark-blue, 2%)};
  // fonts
  --pri-font-weight: 300;
  --letter-spacing: 1px;
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
