@use '../abstracts' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.15s ease-in-out;
}
*::selection {
  color: var(--pri-bg-color);
  background: var(--btn-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  color: var(--pri-theme-color);
  background: var(--pri-theme-bg);
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  color: var(---pri-color);
}
.logo {
  width: 120px;
  @include tablet-landscape-up {
    width: 150px;
  }
}
.container {
  padding: 2rem;
  @include tablet-landscape-up {
    padding: 2rem 4rem;
  }
}
.flex {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  transition: background 0.2s ease-in-out;
  color: var(--pri-bg-color);
  background: var(--btn-color);
  svg {
    margin-right: 8px;
  }
  &:hover {
    background: var(--btn-light-color);
  }
}
ul {
  list-style: none;
}
.no-outline {
  outline: none;
}
