.about {
  min-height: 100vh;
  display: grid;
  place-items: center;
  &-wrapper {
    @include tablet-landscape-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-details {
    @include tablet-landscape-up {
      max-width: 50%;
    }
    h2 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
  &-software {
    @include tablet-landscape-up {
      max-width: 50%;
    }
    .items {
      flex-wrap: wrap;
      li {
        flex-basis: 33%;
        flex-direction: column;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        svg {
          margin-top: 0.25rem;
          outline: none;
          cursor: pointer;
          path {
            transition: all 0.2s ease-in-out;
          }
          &:hover {
            path {
              fill: lighten($gray, 10%);
            }
          }
        }
      }
    }
  }
}
