.footer {
  color: $white;
  background: $gray;
  &-wrapper {
    text-align: center;
    padding: 2rem;
    @include tablet-landscape-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
    }
  }
  .logo {
    display: block;
    margin-bottom: 1rem;
    @include tablet-landscape-up {
      margin-bottom: unset;
    }
  }
  .social-links {
    justify-content: center;
    margin-bottom: 1rem;
    @include tablet-landscape-up {
      margin-bottom: unset;
    }
    a {
      display: inline-block;
    }
    svg {
      transform: scale(0.6);
      transition: transform 0.2s ease-in-out;
      outline: none;

      &:hover {
        transform: scale(0.7);
      }
      &:active {
        transform: scale(0.6);
      }
    }
  }
}
