*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  color: darken($blue, 5%);
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  color: $blue;
}
.logo {
  width: 120px;
  @include tablet-landscape-up {
    width: 150px;
  }
}
.container {
  padding: 2rem;
  @include tablet-landscape-up {
    padding: 2rem 4rem;
  }
}
.flex {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  transition: background 0.2s ease-in-out;
  color: $white;
  background: $orange;
  svg {
    margin-right: 8px;
  }
  &:hover {
    background: $light-orange;
  }
}
ul {
  list-style: none;
}
.no-outline {
  outline: none;
}
