header {
  min-height: 100vh;
  background: url('./assets/small.jpg'), $gray;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  padding: 1rem 1.5rem;
  background: $white;
  color: $gray;
  @include tablet-landscape-up {
    color: $white;
    background: transparent;
  }
  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: $gray;
    background: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  &-center {
    @include tablet-landscape-up {
      padding: 0.25rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-toggle {
    display: block;
    cursor: pointer;
    padding: 0.5rem 0;
    transition: all 0.3s ease-in-out;
    @include tablet-landscape-up {
      display: none;
    }
    span,
    span::before,
    span::after {
      display: block;
      width: 2rem;
      height: rem(3);
      transition: all 0.3s ease-in-out;
      background: $gray;
    }
    span {
      position: relative;
      transition: all 0.3 ease-in-out;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0.5rem;
      }
      &::before {
        top: -0.5rem;
      }
    }
  }
  &-links {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    @include tablet-landscape-up {
      height: auto !important;
    }
    .links {
      @include tablet-landscape-up {
        display: flex;
      }
      a {
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        display: block;
        margin: 0 1rem;
        font-weight: bold;
        padding: 0.75rem 0;
        transition: all 0.3s ease-in-out;
        outline: none;
        position: relative;
        @include tablet-landscape-up {
          padding: unset;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 10px;
          width: 100%;
          color: $white;
        }
        &:hover {
          transform: translateX(rem(8));
          @include tablet-landscape-up {
            transform: unset;
          }
        }
      }
    }
  }
}

.show-links {
  .nav {
    &-toggle {
      transform: rotate(45deg);
      span {
        &::after {
          opacity: 0;
        }
        &::before {
          transform: rotate(-90deg);
          top: 0;
        }
      }
    }
  }
}
