@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$gray: hsl(0, 0%, 31%);
$mid-gray: hsl(0, 0%, 95%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$blue: hsl(206, 52%, 29%);
$orange: hsl(12, 88%, 59%);
$light-orange: hsl(9, 87%, 81%);
