@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$light-gray: #fafafa;
$white: #ffffff;
$blue: #234f70;
$blue-transparent: #234f7033;
$dark-blue: #1d415d;
$light-blue: #609ecd;
$lighter-blue: #aecde5;
$very-light-blue: #e8f1f8;
$orange: #f25f3a;
$light-orange: #f9b1a4;
$very-light-orange: #feefec;
$very-dark-blue: #21314e;
$grey: #e6e6e6;
