@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

// $light-gray: hsl(0, 0%, 98%);
// $white: hsl(0, 0%, 100%);
// $blue: hsl(206, 52%, 29%);
// $blue-transparent: hsla(206, 52%, 29%, 0.2);
// $dark-blue: hsl(206, 52%, 24%);
// $light-blue: hsl(206, 52%, 59%);
// $lighter-blue: hsl(206, 51%, 79%);
// $very-light-blue: hsl(206, 53%, 94%);
// $orange: hsl(12, 88%, 59%);
// $light-orange: hsl(9, 87%, 81%);
// $very-light-orange: hsl(10, 90%, 96%);

$light-gray: #273254;
$white: #202945;
$red: #f50a0a;
$blue: #64a0ce;
$blue-transparent: #64a0ce33;
$dark-blue: #fafafa;
$light-blue: #27577c;
$lighter-blue: #28577b;
$very-light-blue: #0a161f;
$orange: #d2360f;
$light-orange: #f35a3f;
// $very-light-orange: #761d0b;
$very-light-orange: #1e415c;
