@use '../abstracts' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: var(--pri-color);
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1001;
  &-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 0.5rem;
    overflow-y: auto;
    background: var(--sec-lighter-color);
  }
  &-btn {
    position: fixed;
    cursor: pointer;
    z-index: 1;
    width: 2.5rem;
    svg {
      fill: var(--btn-color);
    }
  }
  &-close {
    right: 3.25rem;
    top: 2rem;

    &:hover {
      svg {
        animation: spin 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
      }
    }
  }
  &-top {
    position: fixed;
    right: 2.75rem;
    bottom: 4rem;
    svg {
      opacity: 0.4;
    }
    &:hover {
      svg {
        animation: bounce 2s ease-in-out infinite;
      }
    }
  }
  &.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  .portfolio-card {
    transform: scale(0.9);
  }
  .portfolio-btns {
    margin-top: 2rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}
