.theme-switch-wrapper {
  display: flex;
  align-items: center;
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;

  .dark & .slider {
    background-color: var(--pri-card-color);

    &:before {
      transform: translateX(-26px);
    }
    .feather {
      &-moon {
        opacity: 0;
        transform: translateX(4px);
      }

      &-sun {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.slider {
  background-color: var(--btn-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;

  &:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    right: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50%;
  }

  svg {
    color: var(--pri-bg-color);
    position: absolute;
    transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
    pointer-events: none;
  }
}

.feather {
  &-moon {
    opacity: 1;
    left: 9px;
    bottom: 9px;
    transform: translateX(0);
  }

  &-sun {
    opacity: 0;
    right: 10px;
    bottom: 9px;
    transform: translateX(-4px);
  }
}
