@use '../abstracts' as *;

.about {
  // min-height: 100vh;
  // display: grid;
  // place-items: center;
  &-wrapper {
    @include tablet-landscape-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3rem 0;
    }
  }
  &-details {
    @include tablet-landscape-up {
      max-width: 50%;
    }
    h2 {
      margin-bottom: 2rem;
    }
    p {
      line-height: 1.5;
      margin-bottom: 2rem;
      font-weight: var(--pri-font-weight);
      @include tablet-landscape-up {
        line-height: 2;
      }
    }
    div {
      margin-bottom: 2rem;
      a {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        word-spacing: 1.5px;
      }
    }
  }
  &-software {
    @include tablet-landscape-up {
      max-width: 50%;
      margin: auto;
    }
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px 10px;
      li {
        flex-direction: column;
        text-transform: uppercase;
        svg {
          margin-top: 0.25rem;
          outline: none;
          cursor: pointer;
          path {
            fill: var(--btn-color);
            transition: all 0.2s ease-in-out;
          }
          &:hover {
            path {
              fill: var(--btn-light-color);
            }
          }
        }
      }
    }
  }
}
