@use '../abstracts' as *;

.contact {
  background: var(--sec-theme-bg);
  h2 {
    padding-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  &-items {
    flex-direction: column;
    margin-bottom: 2rem;
    @include tablet-landscape-up {
      flex-direction: row;
      justify-content: space-evenly;
    }
    a {
      margin: 1rem auto;
      min-width: 300px;
      padding: 0.25rem 1rem;
      transition: all 0.2s ease-in-out;
      background: var(--sec-card-color);
      svg {
        transform: scale(0.6);
        background: var(--sec-card-color);
        path {
          fill: var(--btn-color);
          transition: fill 0.2s ease-in-out;
        }
      }
      &:hover {
        color: var(--sec-color);
        box-shadow: 0 0 7px 1px var(--pri-transparent-color);
        path {
          fill: var(--btn-light-color);
        }
        box-shadow: 0 2px 7px 4px var(--pri-transparent-color);
      }
    }
  }
}
