@use '../abstracts' as *;
.footer {
  color: $white;
  background: $blue;
  &-wrapper {
    text-align: center;
    padding: 2rem;
    margin-bottom: 0;
    @include tablet-landscape-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 2rem;
    }
  }
  .logo {
    margin-bottom: 1rem;
    @include tablet-landscape-up {
      margin-bottom: unset;
    }
  }
  .social-links {
    justify-content: center;
    margin-bottom: 1rem;
    @include tablet-landscape-up {
      margin-bottom: unset;
    }
    a {
      display: inline-block;
    }
    svg {
      transform: scale(0.6);
      outline: none;
      path {
        fill: lighten($blue, 50%);
        transition: fill 0.2s ease-in-out;
      }

      &:hover {
        path {
          fill: lighten($blue, 30%);
        }
      }
      &:active {
        transform: scale(0.6);
      }
    }
  }
  p {
    font-size: rem(13);
    color: lighten($blue, 50%);
  }
}
