@use '../abstracts' as *;

header {
  position: relative;
  min-height: 100vh;
  background: url('./assets/forest.jpg'), var(--pri-color);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  position: relative;
  padding: 1rem 1.5rem;
  background: var(--pri-theme-bg);
  color: var(--pri-theme-color);
  z-index: 100;
  .logo-white {
    display: none;

    .dark & {
      display: block;
    }
  }
  .dark & .logo-colored {
    display: none;
  }
  @include tablet-landscape-up {
    color: var(--pri-bg-color);
    background: transparent;
    .logo {
      &-white {
        display: block;
      }
      &-colored {
        display: none;
      }
    }
  }
  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--pri-theme-color);
    background: var(--pri-nav-bg);
    box-shadow: 0 5px 15px var(--pri-transparent-color);
    z-index: 1000;
    .logo {
      &-white {
        display: none;
        .dark & {
          display: block;
        }
      }
      &-colored {
        display: block;
        .dark & {
          display: none;
        }
      }
    }
  }

  &-center {
    @include tablet-landscape-up {
      padding: 0.25rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-toggle {
    display: block;
    cursor: pointer;
    padding: 0.6rem 0;
    transition: all 0.3s ease-in-out;
    @include tablet-landscape-up {
      display: none;
    }
    span,
    span::before,
    span::after {
      display: block;
      width: 2rem;
      height: rem(3);
      transition: all 0.3s ease-in-out;
      background: var(--btn-color);
    }
    span {
      position: relative;
      transition: all 0.3 ease-in-out;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0.5rem;
      }
      &::before {
        top: -0.5rem;
      }
    }
  }
  &-links {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    @include tablet-landscape-up {
      height: auto !important;
    }
    .links {
      @include tablet-landscape-up {
        display: flex;
        align-items: center;
        min-height: rem(40);
      }
      a {
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        display: block;
        margin: 0 1rem;
        font-weight: bold;
        padding: 0.75rem 0;
        transition: all 0.3s ease-in-out;
        outline: none;
        position: relative;
        @include tablet-landscape-up {
          padding: unset;
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: rem(2);
            top: rem(25);
            border-radius: 50px;
            background: var(--btn-light-color);
            transform: scale(0);
            transform-origin: right bottom;
            transition: transform 0.3s ease-in-out;
          }
        }
        &:hover {
          transform: translateX(rem(8));
          @include tablet-landscape-up {
            &::after {
              transform-origin: left bottom;
              transform: scale(1);
            }
            transform: unset;
          }
        }
        &.active {
          @include tablet-landscape-up {
            &::after {
              transform: scale(1);
            }
          }
        }
      }

      li:last-child {
        text-align: center;
        @include tablet-landscape-up {
          text-align: unset;
        }
      }
    }
  }
}

.show-links {
  .nav {
    &-toggle {
      transform: rotate(45deg);
      span {
        &::after {
          opacity: 0;
        }
        &::before {
          transform: rotate(-90deg);
          top: 0;
        }
      }
    }
  }
}

button {
  &#theme {
    cursor: pointer !important;
  }
}
