@use '../abstracts' as *;
.hero {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--pri-bg-color);

  img {
    width: 160px;
    border-radius: 50%;
    border: 2px solid var(--pri-bg-color);
    margin-bottom: 14px;
  }
  h1 {
    margin-bottom: 12px;
  }
  p {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  a {
    display: inline-block;
    border: 1px solid var(--pri-bg-color);
    padding: 0.5rem 1rem;
    letter-spacing: 0.25rem;
    color: var(--pri-bg-color);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--btn-color);
      background: var(--pri-bg-color);
    }
  }
}
