@use '../abstracts' as *;

.testimonial {
  padding-bottom: 2rem;
  h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  &-wrapper {
    cursor: grab;
    img {
      position: relative;
      display: block;
      width: 80px;
      border-radius: 50%;
      margin: 0 auto -3rem;
      border: rem(2) solid var(--sec-card-color);
      z-index: 10;
    }
  }
  &-content {
    text-align: center;
    position: relative;
    padding: 1rem 0;
    border-radius: rem(8);
    background: var(--sec-card-color);
    > * {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    h3 {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
      font-weight: var(--pri-font-weight);
    }
  }
}
